<main class="chat-container">
    <main class="users-panel">
        <span class="users-panel__title">Users:</span>
        <ul>
            <li ng-repeat="user in chat.users" class="users-panel__user">
                {{ user }}
            </li>
        </ul>
    </main>
    <main class="chat-content">
        <main class="chat-content__messages">
            <ul class="chat-content__message">
                <li ng-repeat="message in chat.messages">
                    <span>{{ message.user }}: {{ message.message }}</span>
                </li>
            </ul>
        </main>
        <form ng-submit="chat.addMessage()">
            <span>$</span>
            <input type="text" ng-model="chat.newMessage" class="chat-content__new-message" />
        </form>
    </main>
</main>
